ENV=development
DEBUG=true
MONGO_URL=mongodb+srv://SEU_USUARIO:SUA_SENHA@cluster0.xxxxx.mongodb.net/barbershop_db
JWT_SECRET_KEY=sua-chave-secreta-super-forte
MERCADOPAGO_ACCESS_TOKEN=seu-token
RESEND_API_KEY=sua-chave-resend
ALLOWED_ORIGINS=http://localhost:3000,https://barber-two-gules.vercel.app
